<style>
    @font-face {
        font-family: 'M Plus Rounded 1c';
        src: url({{ "fonts/MPLUSRounded1c/MPLUSRounded1c-Regular.ttf" | absURL }}) format('truetype');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'M Plus Rounded 1c';
        src: url({{ "fonts/MPLUSRounded1c/MPLUSRounded1c-Bold.ttf" | absURL }}) format('truetype');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'M Plus Rounded 1c';
        src: url({{ "fonts/MPLUSRounded1c/MPLUSRounded1c-Thin.ttf" | absURL }}) format('truetype');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'M Plus Rounded 1c';
        src: url({{ "fonts/MPLUSRounded1c/MPLUSRounded1c-Light.ttf" | absURL }}) format('truetype');
        font-weight: normal;
        font-style: normal;
    }

    body {
        font-family: "M Plus Rounded 1c";
    }
</style>